<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP | register Page</title>
</head>
<body>
     <h1>NLP App</h1>
     <h3>Register Here</h3>


     {%if message%}
         <p style="color:red">{{message}}</p>
     {%endif%}


     <form action="/perform_registration" method="post">
         <label>Name</label><br>
         <input type="text" name="user_ka_name"><br>
         <label>Email</label><br>
         <input type="email" name="user_ka_email"><br>
         <label>Password</label><br>
         <input type="password" name="user_ka_password"><br><br>
         <input type="submit" value="register">
         <p>Allraedy a memebr? <a href="/">Login here</a> </p>
     </form>
</body>
</html>